@use './variables' as v;
@use './spacing';
@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Anek:wdth,wght@75..125,100..800&display=swap');
@import '.././assets/style.css';

body{
  overflow-x: hidden;
  background-color: black;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
::-webkit-scrollbar {
  display: none;
}

.app{
  // max-width:v.$screen  -width;
  margin: auto;
  height: 100%;
  position: relative;
}

.main{
  background-color: #000000;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('cam-bueno-orco-rookies-low 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.main::before{
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.main > * {
  position: relative;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  // font-size: 16px;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}


.flex-col{
  flex-direction: column;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}