
@use '../../styles/mixins' as *;
@use '../../styles/variables' as v;

.header {
    padding-top: 30px;
    padding-left: v.$screen-padding;
    padding-right: v.$screen-padding;
    .mi-logo {
      width: 150px;
      height: 54px;
    }

    .verticle-line{
        height: 20px;
        width: 2px;
        color: white;
        background-color: gray;
    }
        span{
            color: white;
            font-weight: 600;
        }

        .icon{
            color: white;
        }

    @include between(680px,980px){
        .header{
            padding-left: v.$responsive-screen-padding;
            padding-right: v.$responsive-screen-padding;
            .company-contact{
                flex-direction: column; 
                gap:4px;
            }
            
            .verticle-line{
                display: none;
            }
        }
    }

    @include between(320px,680px){
        padding-left: v.$responsive-screen-padding;
        padding-right: v.$responsive-screen-padding;
        .company-contact{
            display: none;
        }
    }

  }


  