
@use '../../styles/mixins' as *;
@use '../../styles/variables' as v;

.header {
    font-family: 'Anek Odia', sans-serif;
    padding-top: 30px;
    max-width: 1600px;
    width: 82.5%;
    margin: 0 auto;
    .mi-logo {
      width: 150px;
      height: 54px;
    }

    .verticle-line{
        height: 20px;
        width: 2px;
        color: white;
        background-color: gray;
    }
        span{
            color: white;
            font-weight: 500;
            font-size: 18px;
            margin-left: 10px;
            margin-top: 2px;
        }

        .icon{
            color: white;
        }

    @include between(680px,1000px){
        .header{
       
           
            
            .verticle-line{
                display: none;
            }
        }

        .company-contact{
            display: none;

        }
    }

    @include between(320px,680px){
  
        .company-contact{
            display: none;
        }
    }

  }


  