.awards {
    max-width: 1600px;
    width: 82.5%;
    margin: 0 auto;
    color: #fff;
    
  
    &__container {
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
    }
  
    &__left {
      max-width: 480px;
  

    }
  
    &__right {
      display: grid;
      display: flex;
      max-width: 900px;
      gap: 40px;
      justify-content: center;
    }
  }
  .r-hex {
    overflow: hidden;
    display: inline-block;
    margin: 4em 0;
    width: 20em; height: 17.32em;
    transform: rotate(-30deg) skewX(30deg);
    border-radius: 2em;
    position: relative;

  }
  .r-hex *, .r-hex *:before {
    display: block;
    overflow: hidden;
    width: inherit; height: inherit;
    border-radius: inherit;
  }
  .r-hex-inner {
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    transition: opacity .75s;
    cursor: pointer;
  }
  .r-hex.purple .r-hex-inner:before {
    background: linear-gradient(to right , #5D0AAF,#7D23D6);
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    content: '';
  }
  .r-hex-inner-2:before {
    margin-top: -1.5em;
    height: 20em;
    transform: skewX(-30deg) rotate(-90deg);
    background: url(https://assets.codepen.io/2017/17_05_a_amur_leopard_34.jpg);
    background-size: cover;
    line-height: 20em;
    text-align: center;
    content: 'Hello, be a nice kitty...';
  }
  .r-hex-inner:hover { opacity: 1; }

  .hexagon{
    position: relative;
      .award-image{
          position: absolute;
          top: 50%;
          z-index: 999;
          left: 23%;
          width: 176px;
          height: 115px;
        }
    }
  