.awards {
    max-width: 1600px;
    width: 82.5%;
    margin: 0 auto;
    color: #fff;
    
  
    &__container {
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
    }
  
    &__left {
      max-width: 480px;
  

    }
  
    &__right {
      display: grid;
      display: flex;
      max-width: 900px;
      gap: 40px;
      justify-content: center;
    }
  }
  .hexagon {
    position: relative;
    background-color: dodgerblue;
    border-radius: 10px;
    width: 100px;
    height: 63px;
    box-sizing: border-box;
    transition: all 1s;
    border: 4px solid transparent;
}

.hexagon:before,
.hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: dodgerblue;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}
  
  .purple { background: linear-gradient(135deg, #7b2ff7, #4b00b5); }
  .pink   { background: linear-gradient(135deg, #ff7a7a, #e54848); }
  .green  { background: linear-gradient(135deg, #2aa78b, #1b7e6b); }
  .maroon { background: linear-gradient(135deg, #8b1e3f, #5a0e28); }
  .blue   { background: linear-gradient(135deg, #4a67f7, #2a3fd6); }
  