@use '../styles/mixins' as *;
@use '../styles/variables' as v;


.home{
    height: 87vh;
    position: relative;
    margin-top: 45px;
    overflow: hidden;
    .content{
        color: white;
        max-width: 866px;
        position: relative;
        margin-bottom: 70px;
        h2{
            letter-spacing: 0.4px;
            font-weight: 700;
            font-size: 80px;   
            font-family: 'Excon', sans-serif;
            span{
                font-weight: 700;
            font-size: 80px;  
                .icon{
                    margin-left: 5px;
                    margin-right: 5px;             
                    border-radius: 50px;
                    box-shadow:3px 3px white;
                }
            }

        }
        h2:nth-of-type(1){
            z-index: 10;
        }

        div{
            top:90px;
            position: absolute;
            width: 100%;
            height: 90px;
            background-image: linear-gradient(-90deg, black 0%, black 47%, black 100%);
            border-radius: 100px;
            filter: blur(30px);      
          }
        p{
            font-family: 'Anek Odia', sans-serif;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            margin-top: 40px;
        }
    }

    .scroll-image{
        position: absolute;
        bottom:7%;
        right: 9%;
    }

    .left-blur-circle{
        position: absolute;
        bottom: 0;
        left :-120px;
        width: 333px;
        height: 333px;
        border-radius: 100%;
        background-image: linear-gradient(-90deg, #3B3F41 0%, #3B3F41 47%, #3B3F41 50%);
        filter: blur(100px); 
    }

    .right-blur-circle{
        position: absolute;
        bottom: 0;
        right: -300px;
        width: 527px;
        height: 527px;
        border-radius: 100%;
        background-image: linear-gradient(-90deg, #3B3F41 0%, #3B3F41 47%, #3B3F41 50%);
        filter: blur(100px);
    }

    .bottom-blur{
            position: absolute;
            bottom: -50px;
            width: 100%;
            height: 90px;
            background-image: linear-gradient(-90deg, black 0%, black 47%, black 100%);
            border-radius: 100px;
            filter: blur(30px);      
    }
}
    @include between(680px,980px){
        .home{

            .content{
                h2{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-weight: 600;
                font-size: 50px;  
                    .icon{
                        height: 50px;
                        width: 50px;
                    }
                    span{
                        font-weight: 600;
                        font-size: 50px;  
                    }
                }
            div{
                top:90px;
                height: 50px;
                width: 80%;
            }
            }

            .scroll-image{
                height: 80px;
                width: 80px;
            }
            .right-blur-circle,.left-blur-circle{
                display: none;
            }
    }
    }

    @include between(320px,680px){
        .home{

            .content{
                h2{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-weight: 500;
                font-size: 30px;   
                    word-break:normal;
                    .icon{
                        height: 30px;
                        width: 30px;
                    }
                    span{
                        font-weight: 500;
                        font-size: 30px;   
                    }            
                }
            h2:nth-of-type(2){
                font-size: 29px;   
            }
            div{
                top:40px;
                width: 80%;
                height: 60px;
            }
        }

        .scroll-image{
            display: none;
        }

        .right-blur-circle,.left-blur-circle{
            display: none;
        }
    }
    }

