@use '../../styles/mixins' as *;


.modal-heading{
    font-weight: 700;
    font-size: 64px;
    color: white;
}

@include between(680px,980px)
{
    .modal-heading{
        font-size: 44px;
        font-weight: 600;
    }
}

@include between(320px,680px)
{
    .modal-heading{
        font-size: 30px;
        font-weight: 400;
    }
}